<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>GraphCraft</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        textarea {
            font-family: monospace;
        }
    </style>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>GraphCraft</h1>
    <p>Select diagram type:</p>
    <input type="radio" name="diagram_type" value="graphviz" checked onchange="changeTextArea('graphviz')"> Graphviz
    <input type="radio" name="diagram_type" value="mermaid" onchange="changeTextArea('mermaid')"> Mermaid

    <form onsubmit="submitForm(event)">
        <textarea id="text_data" name="text_data" rows="10" cols="50">digraph G {
          graph [fontname = "Meiryo UI"];
          node [fontname = "Meiryo UI"];
          edge [fontname = "Meiryo UI"];
          Hello->World
        }</textarea>

        <input type="submit" value="Generate">
    </form>
    <img id="image" src="">
</body>
</html>
